/* Added padding on the bottom to fix issue where 
footer was covering text at certain break points. */
main {
    padding-bottom: 50px;
}

.navbar-brand,
h1 {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
}

.navbar-brand {
    font-size: 3rem;
    letter-spacing: 1rem;
}

h1 {
    letter-spacing: 0.5rem;
}

body {
    padding-bottom: 2rem;
}

/* Add some spacing for social media links in footer */
footer .fab {
    padding-left: 2rem;
}

.card {
    height: 100%;
}

.card-img {
    opacity: 0.5;
    position: relative;
    z-index: 1;
    width: 300;
    height: 200;
    max-height: 200;
}

.card-img:hover {
    opacity: 1.0;
}

.card-img-overlay {
    text-align: center;
    padding-top: 25%;
}

.card-link {
    position: relative;
}

.card-img-link {
    color: #000000;
}

.card-img-link:hover,
.fa-envelope {
    color: #007bff;
}

#audio-player {
    height: 1.5rem;
    width: 250px;
}

#play-btn {
    border: none;
    background: none;
    position: relative;
    color: #007bff;
}

#play-btn:focus {
    outline: none;
}

#about-img {
    border-radius: 50%;
}

@media (max-width:450px) {
    .about {
        text-align: center;
    }

    .navbar-brand {
        letter-spacing: 0.5rem;
        margin-right: 0;
    }

    h1 {
        text-align: center;
    }

    h3,
    h2 {
        text-align: justify;
    }

    h3 {
        font-size: 1.5rem;
    }

    #email-span {
        float: right;
        padding-right: 1rem;
    }
}
