/* Added padding on the bottom to fix issue where 
footer was covering text at certain break points. */
body {
    background-color: #F7F7FF;
    padding-bottom: 2rem;
}

article {
    overflow: scroll;
}

/* Add some spacing for social media links in footer */
footer .fab {
    padding-left: 2rem;
}

.portfolio-img {
    margin-bottom: 1rem;
    opacity: 0.8;
}

.portfolio-img:hover {
    opacity: 1;
}